In [451]:
import pandas as pd
df = pd.read_excel(r'C:\Users\knuyh\Desktop\민지\고려대학교 교육\프로젝트\personal\MinjiKim\카테고리정리중.xlsx')

In [452]:
df.drop('Nu_category ID', axis=1, inplace=True)

In [453]:
df

,Cu_category ID,Subcategories,1th,2th,3th
0,/np/categories/445725,['강아지 사료'],NaN,NaN,NaN
1,/np/categories/118900,['강아지 간식'],NaN,NaN,NaN
2,/np/categories/486318,['강아지 영양제'],NaN,NaN,NaN
3,/np/categories/118876,['강아지 용품'],NaN,NaN,NaN
4,/np/categories/445859,['고양이 사료'],NaN,NaN,NaN
...,...,...,...,...,...
461,/np/categories/385071,['연고'],['고양이 용품'],['건강 관리'],['피부 관리']
462,/np/categories/385072,['넥카라'],['고양이 용품'],['건강 관리'],['피부 관리']
463,/np/categories/385073,['기타 피부관리'],['고양이 용품'],['건강 관리'],['피부 관리']
464,/np/categories/119616,['해충 예방'],['고양이 용품'],['건강 관리'],"['해충 예방', '관리']"
465,/np/categories/119618,['해충 제거'],['고양이 용품'],['건강 관리'],"['해충 예방', '관리']"

In [454]:
df1 = df[9:]
df_p = df1[df1['1th'].str.contains('강아지') | df1['1th'].str.contains('펫티켓')]
df_p = df_p.reset_index()
df_p = df_p.drop('index', axis=1)
df_p

,Cu_category ID,Subcategories,1th,2th,3th
0,/np/categories/445726,['건식사료'],['강아지 사료'],NaN,NaN
1,/np/categories/445727,['소프트사료'],['강아지 사료'],NaN,NaN
2,/np/categories/445728,['습식사료'],['강아지 사료'],NaN,NaN
3,/np/categories/445729,"['건조', '생식사료']",['강아지 사료'],NaN,NaN
4,/np/categories/445730,['화식사료'],['강아지 사료'],NaN,NaN
...,...,...,...,...,...
230,/np/categories/373670,['기타 피부관리'],['강아지 용품'],['건강 관리'],['피부관리']
231,/np/categories/373671,['눈물지우개'],['강아지 용품'],['건강 관리'],['눈 관리']
232,/np/categories/373672,['눈세정제'],['강아지 용품'],['건강 관리'],['눈 관리']
233,/np/categories/373674,['해충 예방'],['강아지 용품'],['건강 관리'],"['해충 예방', '관리']"
234,/np/categories/373676,['해충 제거'],['강아지 용품'],['건강 관리'],"['해충 예방', '관리']"

In [455]:
df1 = df[9:]
df_c = df1[df1['1th'].str.contains('고양이')]
df_c = df_c.reset_index()
df_c = df_c.drop('index', axis=1)
df_c

,Cu_category ID,Subcategories,1th,2th,3th
0,/np/categories/445860,['건식사료'],['고양이 사료'],NaN,NaN
1,/np/categories/445861,"['습식', '소프트사료']",['고양이 사료'],NaN,NaN
2,/np/categories/445862,['건조생식사료'],['고양이 사료'],NaN,NaN
3,/np/categories/445863,['화식사료'],['고양이 사료'],NaN,NaN
4,/np/categories/446151,['분유'],['고양이 사료'],NaN,NaN
...,...,...,...,...,...
217,/np/categories/385071,['연고'],['고양이 용품'],['건강 관리'],['피부 관리']
218,/np/categories/385072,['넥카라'],['고양이 용품'],['건강 관리'],['피부 관리']
219,/np/categories/385073,['기타 피부관리'],['고양이 용품'],['건강 관리'],['피부 관리']
220,/np/categories/119616,['해충 예방'],['고양이 용품'],['건강 관리'],"['해충 예방', '관리']"
221,/np/categories/119618,['해충 제거'],['고양이 용품'],['건강 관리'],"['해충 예방', '관리']"

In [456]:
a = []
for i in df_p.dropna(subset=['3th'])['3th'].unique() :
    a.append(df_p[df_p['Subcategories'] == i])
    
print(a)

[           Cu_category ID Subcategories         1th             2th  3th
51  /np/categories/119247       ['하우스']  ['강아지 용품']  ['하우스', '울타리']  NaN,            Cu_category ID Subcategories         1th             2th  3th
57  /np/categories/119252        ['매트']  ['강아지 용품']  ['하우스', '울타리']  NaN,            Cu_category ID   Subcategories         1th             2th  3th
58  /np/categories/385012  ['수납', '보관용품']  ['강아지 용품']  ['하우스', '울타리']  NaN,            Cu_category ID Subcategories         1th             2th  3th
63  /np/categories/119210        ['식기']  ['강아지 용품']  ['급식기', '급수기']  NaN,            Cu_category ID    Subcategories         1th             2th  3th
67  /np/categories/119214  ['보관통', '사료스푼']  ['강아지 용품']  ['급식기', '급수기']  NaN,            Cu_category ID  Subcategories         1th             2th  3th
68  /np/categories/119215  ['정수기', '필터']  ['강아지 용품']  ['급식기', '급수기']  NaN,            Cu_category ID      Subcategories         1th           2th  3th
81  /np/categories/119348  ['패션 액세서리', '기타']  ['강아지 용품']  ['의류', '패션']  NaN,             Cu_category ID Subcategories         1th           2th      3th
92   /np/categories/119161       ['이발기']  ['강아지 용품']  ['미용', '목욕']      NaN
185  /np/categories/119198       ['이발기']  ['강아지 용품']  ['미용', '목욕']  ['이발기'],            Cu_category ID Subcategories         1th           2th  3th
98  /np/categories/119159  ['샴푸', '린스']  ['강아지 용품']  ['미용', '목욕']  NaN,             Cu_category ID       Subcategories         1th           2th  3th
104  /np/categories/317114  ['향수', '캔들', '탈취']  ['강아지 용품']  ['미용', '목욕']  NaN,             Cu_category ID Subcategories         1th           2th  3th
105  /np/categories/119160      ['샤워용품']  ['강아지 용품']  ['미용', '목욕']  NaN,             Cu_category ID Subcategories         1th              2th  3th
121  /np/categories/419389  ['줄', '하네스']  ['강아지 용품']  ['이동장', '외출용품']  NaN,             Cu_category ID   Subcategories         1th              2th  3th
122  /np/categories/119286  ['이동장', '캐리어']  ['강아지 용품']  ['이동장', '외출용품']  NaN,             Cu_category ID Subcategories          1th        2th  3th
17   /np/categories/486319       ['영양제']  ['강아지 영양제']        NaN  NaN
131  /np/categories/486432       ['영양제']   ['강아지 용품']  ['건강 관리']  NaN,             Cu_category ID Subcategories          1th        2th  3th
18   /np/categories/486328     ['건강보조제']  ['강아지 영양제']        NaN  NaN
132  /np/categories/487332     ['건강보조제']   ['강아지 용품']  ['건강 관리']  NaN,             Cu_category ID Subcategories         1th        2th  3th
133  /np/categories/373650      ['구강관리']  ['강아지 용품']  ['건강 관리']  NaN,             Cu_category ID Subcategories         1th        2th  3th
134  /np/categories/373651      ['귀 관리']  ['강아지 용품']  ['건강 관리']  NaN,             Cu_category ID Subcategories         1th        2th  3th
135  /np/categories/373652      ['피부관리']  ['강아지 용품']  ['건강 관리']  NaN,             Cu_category ID Subcategories         1th        2th  3th
136  /np/categories/373653      ['눈 관리']  ['강아지 용품']  ['건강 관리']  NaN,             Cu_category ID    Subcategories         1th        2th  3th
137  /np/categories/373654  ['해충 예방', '관리']  ['강아지 용품']  ['건강 관리']  NaN]

In [457]:
# 3th = Subcategories
name3 = []
result3 = []
for i in range(len(a)) :
    numeric_values = [x for x in a[i]['Cu_category ID'].values[0] if str(x).isdigit()]
    result3.append(str(''.join(numeric_values)))
    name3.append(a[i]['Subcategories'].values[0])
result3 # category id
name3 # Subcategories

["['하우스']",
 "['매트']",
 "['수납', '보관용품']",
 "['식기']",
 "['보관통', '사료스푼']",
 "['정수기', '필터']",
 "['패션 액세서리', '기타']",
 "['이발기']",
 "['샴푸', '린스']",
 "['향수', '캔들', '탈취']",
 "['샤워용품']",
 "['줄', '하네스']",
 "['이동장', '캐리어']",
 "['영양제']",
 "['건강보조제']",
 "['구강관리']",
 "['귀 관리']",
 "['피부관리']",
 "['눈 관리']",
 "['해충 예방', '관리']"]

In [458]:
three = pd.DataFrame(name3, result3, columns=['3th']).reset_index().rename(columns={'index' : 'ID'})
three

        ID                 3th
0   119247             ['하우스']
1   119252              ['매트']
2   385012      ['수납', '보관용품']
3   119210              ['식기']
4   119214     ['보관통', '사료스푼']
5   119215       ['정수기', '필터']
6   119348   ['패션 액세서리', '기타']
7   119161             ['이발기']
8   119159        ['샴푸', '린스']
9   317114  ['향수', '캔들', '탈취']
10  119160            ['샤워용품']
11  419389        ['줄', '하네스']
12  119286      ['이동장', '캐리어']
13  486319             ['영양제']
14  486328           ['건강보조제']
15  373650            ['구강관리']
16  373651            ['귀 관리']
17  373652            ['피부관리']
18  373653            ['눈 관리']
19  373654     ['해충 예방', '관리']

In [459]:
df_p.dropna(subset=['3th']) # 154와 '119247' concat, 155와 '119247' concat

,Cu_category ID,Subcategories,1th,2th,3th
154,/np/categories/119254,['쿠션하우스'],['강아지 용품'],"['하우스', '울타리']",['하우스']
155,/np/categories/119255,['하드하우스'],['강아지 용품'],"['하우스', '울타리']",['하우스']
156,/np/categories/119256,['야외용 하우스'],['강아지 용품'],"['하우스', '울타리']",['하우스']
157,/np/categories/119261,['쿨매트'],['강아지 용품'],"['하우스', '울타리']",['매트']
158,/np/categories/119262,['온열매트'],['강아지 용품'],"['하우스', '울타리']",['매트']
...,...,...,...,...,...
230,/np/categories/373670,['기타 피부관리'],['강아지 용품'],['건강 관리'],['피부관리']
231,/np/categories/373671,['눈물지우개'],['강아지 용품'],['건강 관리'],['눈 관리']
232,/np/categories/373672,['눈세정제'],['강아지 용품'],['건강 관리'],['눈 관리']
233,/np/categories/373674,['해충 예방'],['강아지 용품'],['건강 관리'],"['해충 예방', '관리']"
234,/np/categories/373676,['해충 제거'],['강아지 용품'],['건강 관리'],"['해충 예방', '관리']"

In [460]:
three['3th'].values

array(["['하우스']", "['매트']", "['수납', '보관용품']", "['식기']", "['보관통', '사료스푼']",
       "['정수기', '필터']", "['패션 액세서리', '기타']", "['이발기']", "['샴푸', '린스']",
       "['향수', '캔들', '탈취']", "['샤워용품']", "['줄', '하네스']", "['이동장', '캐리어']",
       "['영양제']", "['건강보조제']", "['구강관리']", "['귀 관리']", "['피부관리']",
       "['눈 관리']", "['해충 예방', '관리']"], dtype=object)

In [461]:
final3 = pd.merge(df_p.dropna(subset=['3th']), three, on=['3th'], how='left')
final3

,Cu_category ID,Subcategories,1th,2th,3th,ID
0,/np/categories/119254,['쿠션하우스'],['강아지 용품'],"['하우스', '울타리']",['하우스'],119247
1,/np/categories/119255,['하드하우스'],['강아지 용품'],"['하우스', '울타리']",['하우스'],119247
2,/np/categories/119256,['야외용 하우스'],['강아지 용품'],"['하우스', '울타리']",['하우스'],119247
3,/np/categories/119261,['쿨매트'],['강아지 용품'],"['하우스', '울타리']",['매트'],119252
4,/np/categories/119262,['온열매트'],['강아지 용품'],"['하우스', '울타리']",['매트'],119252
...,...,...,...,...,...,...
76,/np/categories/373670,['기타 피부관리'],['강아지 용품'],['건강 관리'],['피부관리'],373652
77,/np/categories/373671,['눈물지우개'],['강아지 용품'],['건강 관리'],['눈 관리'],373653
78,/np/categories/373672,['눈세정제'],['강아지 용품'],['건강 관리'],['눈 관리'],373653
79,/np/categories/373674,['해충 예방'],['강아지 용품'],['건강 관리'],"['해충 예방', '관리']",373654
80,/np/categories/373676,['해충 제거'],['강아지 용품'],['건강 관리'],"['해충 예방', '관리']",373654

In [462]:
b = []
for i in df_p.dropna(subset=['2th'])['2th'].unique() :
    b.append(df_p[df_p['Subcategories'] == i])
    
print(b)

[          Cu_category ID Subcategories         1th  2th  3th
7  /np/categories/118975  ['캔', '파우치']  ['강아지 간식']  NaN  NaN,             Cu_category ID Subcategories          1th        2th  3th
17   /np/categories/486319       ['영양제']  ['강아지 영양제']        NaN  NaN
131  /np/categories/486432       ['영양제']   ['강아지 용품']  ['건강 관리']  NaN,             Cu_category ID Subcategories          1th        2th  3th
18   /np/categories/486328     ['건강보조제']  ['강아지 영양제']        NaN  NaN
132  /np/categories/487332     ['건강보조제']   ['강아지 용품']  ['건강 관리']  NaN,            Cu_category ID   Subcategories         1th  2th  3th
19  /np/categories/118920  ['하우스', '울타리']  ['강아지 용품']  NaN  NaN,            Cu_category ID   Subcategories         1th  2th  3th
20  /np/categories/118919  ['급식기', '급수기']  ['강아지 용품']  NaN  NaN,            Cu_category ID Subcategories         1th  2th  3th
21  /np/categories/118926  ['의류', '패션']  ['강아지 용품']  NaN  NaN,            Cu_category ID Subcategories         1th  2th  3th
22  /np/categories/118916      ['배변용품']  ['강아지 용품']  NaN  NaN,            Cu_category ID Subcategories         1th  2th  3th
23  /np/categories/118917  ['미용', '목욕']  ['강아지 용품']  NaN  NaN,            Cu_category ID    Subcategories         1th  2th  3th
24  /np/categories/118923  ['장난감', '훈련용품']  ['강아지 용품']  NaN  NaN,            Cu_category ID   Subcategories         1th  2th  3th
25  /np/categories/486542  ['펫캠', '가전용품']  ['강아지 용품']  NaN  NaN,            Cu_category ID    Subcategories         1th  2th  3th
26  /np/categories/118922  ['이동장', '외출용품']  ['강아지 용품']  NaN  NaN,            Cu_category ID Subcategories         1th  2th  3th
27  /np/categories/373649     ['건강 관리']  ['강아지 용품']  NaN  NaN,            Cu_category ID  Subcategories           1th  2th  3th
29  /np/categories/381523  ['배변봉투', '삽']  ['펫티켓 산책용품']  NaN  NaN,             Cu_category ID   Subcategories           1th              2th  \
33   /np/categories/381529  ['가슴줄', '하네스']  ['펫티켓 산책용품']              NaN
143  /np/categories/381530  ['가슴줄', '하네스']  ['펫티켓 산책용품']   ['가슴줄', '하네스']
199  /np/categories/419390  ['가슴줄', '하네스']    ['강아지 용품']  ['이동장', '외출용품']

              3th
33            NaN
143           NaN
199  ['줄', '하네스']  ,             Cu_category ID Subcategories           1th              2th  \
34   /np/categories/381532        ['목줄']  ['펫티켓 산책용품']              NaN
145  /np/categories/381533        ['목줄']  ['펫티켓 산책용품']           ['목줄']
200  /np/categories/419391        ['목줄']    ['강아지 용품']  ['이동장', '외출용품']

              3th
34            NaN
145           NaN
200  ['줄', '하네스']  ,             Cu_category ID Subcategories           1th              2th  \
35   /np/categories/381535       ['리드줄']  ['펫티켓 산책용품']              NaN
147  /np/categories/381536       ['리드줄']  ['펫티켓 산책용품']          ['리드줄']
201  /np/categories/419392       ['리드줄']    ['강아지 용품']  ['이동장', '외출용품']

              3th
35            NaN
147           NaN
201  ['줄', '하네스']  ,            Cu_category ID    Subcategories           1th  2th  3th
38  /np/categories/381540  ['이동가방', '캐리어']  ['펫티켓 산책용품']  NaN  NaN]

In [463]:
# 2th = Subcategories
name2 = []
result2 = []
for i in range(len(b)) :
    numeric_values = [x for x in b[i]['Cu_category ID'].values[0] if str(x).isdigit()]
    result2.append(str(''.join(numeric_values)))
    name2.append(b[i]['Subcategories'].values[0])
result2 # category id
name2 # Subcategories

["['캔', '파우치']",
 "['영양제']",
 "['건강보조제']",
 "['하우스', '울타리']",
 "['급식기', '급수기']",
 "['의류', '패션']",
 "['배변용품']",
 "['미용', '목욕']",
 "['장난감', '훈련용품']",
 "['펫캠', '가전용품']",
 "['이동장', '외출용품']",
 "['건강 관리']",
 "['배변봉투', '삽']",
 "['가슴줄', '하네스']",
 "['목줄']",
 "['리드줄']",
 "['이동가방', '캐리어']"]

In [464]:
two = pd.DataFrame(name2, result2, columns=['2th']).reset_index().rename(columns={'index' : 'ID'})
two

        ID              2th
0   118975     ['캔', '파우치']
1   486319          ['영양제']
2   486328        ['건강보조제']
3   118920   ['하우스', '울타리']
4   118919   ['급식기', '급수기']
5   118926     ['의류', '패션']
6   118916         ['배변용품']
7   118917     ['미용', '목욕']
8   118923  ['장난감', '훈련용품']
9   486542   ['펫캠', '가전용품']
10  118922  ['이동장', '외출용품']
11  373649        ['건강 관리']
12  381523    ['배변봉투', '삽']
13  381529   ['가슴줄', '하네스']
14  381532           ['목줄']
15  381535          ['리드줄']
16  381540  ['이동가방', '캐리어']

In [465]:
df_p.dropna(subset=['2th'])

,Cu_category ID,Subcategories,1th,2th,3th
39,/np/categories/119018,['캔'],['강아지 간식'],"['캔', '파우치']",NaN
40,/np/categories/119019,['파우치'],['강아지 간식'],"['캔', '파우치']",NaN
41,/np/categories/486320,['종합영양제'],['강아지 영양제'],['영양제'],NaN
42,/np/categories/486321,"['칼슘', '관절영양제']",['강아지 영양제'],['영양제'],NaN
43,/np/categories/486322,"['피부', '모발영양제']",['강아지 영양제'],['영양제'],NaN
...,...,...,...,...,...
230,/np/categories/373670,['기타 피부관리'],['강아지 용품'],['건강 관리'],['피부관리']
231,/np/categories/373671,['눈물지우개'],['강아지 용품'],['건강 관리'],['눈 관리']
232,/np/categories/373672,['눈세정제'],['강아지 용품'],['건강 관리'],['눈 관리']
233,/np/categories/373674,['해충 예방'],['강아지 용품'],['건강 관리'],"['해충 예방', '관리']"
234,/np/categories/373676,['해충 제거'],['강아지 용품'],['건강 관리'],"['해충 예방', '관리']"

In [466]:
final2 = pd.merge(df_p.dropna(subset=['2th']), two, on=['2th'], how='left')
final2

,Cu_category ID,Subcategories,1th,2th,3th,ID
0,/np/categories/119018,['캔'],['강아지 간식'],"['캔', '파우치']",NaN,118975
1,/np/categories/119019,['파우치'],['강아지 간식'],"['캔', '파우치']",NaN,118975
2,/np/categories/486320,['종합영양제'],['강아지 영양제'],['영양제'],NaN,486319
3,/np/categories/486321,"['칼슘', '관절영양제']",['강아지 영양제'],['영양제'],NaN,486319
4,/np/categories/486322,"['피부', '모발영양제']",['강아지 영양제'],['영양제'],NaN,486319
...,...,...,...,...,...,...
191,/np/categories/373670,['기타 피부관리'],['강아지 용품'],['건강 관리'],['피부관리'],373649
192,/np/categories/373671,['눈물지우개'],['강아지 용품'],['건강 관리'],['눈 관리'],373649
193,/np/categories/373672,['눈세정제'],['강아지 용품'],['건강 관리'],['눈 관리'],373649
194,/np/categories/373674,['해충 예방'],['강아지 용품'],['건강 관리'],"['해충 예방', '관리']",373649
195,/np/categories/373676,['해충 제거'],['강아지 용품'],['건강 관리'],"['해충 예방', '관리']",373649

In [467]:
final23 = pd.merge(final2, final3, on=['Cu_category ID'], how='outer')
final23
# ID_x : result2 ; 1th까지 있음 / ID_y : result3 ; 2th까지 있음

,Cu_category ID,Subcategories_x,1th_x,2th_x,3th_x,ID_x,Subcategories_y,1th_y,2th_y,3th_y,ID_y
0,/np/categories/119018,['캔'],['강아지 간식'],"['캔', '파우치']",NaN,118975,NaN,NaN,NaN,NaN,NaN
1,/np/categories/119019,['파우치'],['강아지 간식'],"['캔', '파우치']",NaN,118975,NaN,NaN,NaN,NaN,NaN
2,/np/categories/486320,['종합영양제'],['강아지 영양제'],['영양제'],NaN,486319,NaN,NaN,NaN,NaN,NaN
3,/np/categories/486321,"['칼슘', '관절영양제']",['강아지 영양제'],['영양제'],NaN,486319,NaN,NaN,NaN,NaN,NaN
4,/np/categories/486322,"['피부', '모발영양제']",['강아지 영양제'],['영양제'],NaN,486319,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
191,/np/categories/373670,['기타 피부관리'],['강아지 용품'],['건강 관리'],['피부관리'],373649,['기타 피부관리'],['강아지 용품'],['건강 관리'],['피부관리'],373652
192,/np/categories/373671,['눈물지우개'],['강아지 용품'],['건강 관리'],['눈 관리'],373649,['눈물지우개'],['강아지 용품'],['건강 관리'],['눈 관리'],373653
193,/np/categories/373672,['눈세정제'],['강아지 용품'],['건강 관리'],['눈 관리'],373649,['눈세정제'],['강아지 용품'],['건강 관리'],['눈 관리'],373653
194,/np/categories/373674,['해충 예방'],['강아지 용품'],['건강 관리'],"['해충 예방', '관리']",373649,['해충 예방'],['강아지 용품'],['건강 관리'],"['해충 예방', '관리']",373654
195,/np/categories/373676,['해충 제거'],['강아지 용품'],['건강 관리'],"['해충 예방', '관리']",373649,['해충 제거'],['강아지 용품'],['건강 관리'],"['해충 예방', '관리']",373654

In [468]:
final_p = pd.merge(df_p, final23, on=['Cu_category ID'], how='outer')
final_p

,Cu_category ID,Subcategories,1th,2th,3th,Subcategories_x,1th_x,2th_x,3th_x,ID_x,Subcategories_y,1th_y,2th_y,3th_y,ID_y
0,/np/categories/445726,['건식사료'],['강아지 사료'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,/np/categories/445727,['소프트사료'],['강아지 사료'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,/np/categories/445728,['습식사료'],['강아지 사료'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,/np/categories/445729,"['건조', '생식사료']",['강아지 사료'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,/np/categories/445730,['화식사료'],['강아지 사료'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,/np/categories/373670,['기타 피부관리'],['강아지 용품'],['건강 관리'],['피부관리'],['기타 피부관리'],['강아지 용품'],['건강 관리'],['피부관리'],373649,['기타 피부관리'],['강아지 용품'],['건강 관리'],['피부관리'],373652
231,/np/categories/373671,['눈물지우개'],['강아지 용품'],['건강 관리'],['눈 관리'],['눈물지우개'],['강아지 용품'],['건강 관리'],['눈 관리'],373649,['눈물지우개'],['강아지 용품'],['건강 관리'],['눈 관리'],373653
232,/np/categories/373672,['눈세정제'],['강아지 용품'],['건강 관리'],['눈 관리'],['눈세정제'],['강아지 용품'],['건강 관리'],['눈 관리'],373649,['눈세정제'],['강아지 용품'],['건강 관리'],['눈 관리'],373653
233,/np/categories/373674,['해충 예방'],['강아지 용품'],['건강 관리'],"['해충 예방', '관리']",['해충 예방'],['강아지 용품'],['건강 관리'],"['해충 예방', '관리']",373649,['해충 예방'],['강아지 용품'],['건강 관리'],"['해충 예방', '관리']",373654
234,/np/categories/373676,['해충 제거'],['강아지 용품'],['건강 관리'],"['해충 예방', '관리']",['해충 제거'],['강아지 용품'],['건강 관리'],"['해충 예방', '관리']",373649,['해충 제거'],['강아지 용품'],['건강 관리'],"['해충 예방', '관리']",373654

In [469]:
final_p1 = final_p[:39] # 이 카테고리는 그대로 가져옴

In [470]:
# 1th까지 있음 ; 합쳐 ID_x 이름으로 json 만들어
final_p2 = final_p[39:154]

In [471]:
# 3개의 ID 합쳐 ID_x의 이름으로 json 만들기
final_p3 = final_p.dropna(subset=['ID_y'])

In [472]:
import os
os.chdir(r'C:\Users\knuyh\Desktop\민지\고려대학교 교육\프로젝트\personal\MinjiKim\merged')

In [473]:
id1 = []
for i in range(len(final_p1)) :
    n1 = [x for x in final_p1['Cu_category ID'].values[i] if str(x).isdigit()]
    
    id1.append(str(''.join(n1)))

In [474]:
p1_df = pd.DataFrame(id1, columns=['ID1'])
p1_df

       ID1
0   445726
1   445727
2   445728
3   445729
4   445730
5   445731
6   509024
7   118975
8   385001
9   385002
10  385003
11  118974
12  225063
13  225064
14  445733
15  385004
16  118980
17  486319
18  486328
19  118920
20  118919
21  118926
22  118916
23  118917
24  118923
25  486542
26  118922
27  373649
28  225106
29  381523
30  381526
31  381527
32  381528
33  381529
34  381532
35  381535
36  381538
37  381539
38  381540

In [475]:
import json

for i in range(len(p1_df)) :
    j1=pd.read_json(f'C:/Users/knuyh/Desktop/민지/고려대학교 교육/프로젝트/personal/MinjiKim/categoryid link/{p1_df.iloc[i][0]}.json')
    
    j1.to_json(f'{p1_df.iloc[i][0]}.json', orient='records')

In [476]:
id1 = []
id2 = []

for i in range(len(final_p2)) :
    n1 = [x for x in final_p2['Cu_category ID'].values[i] if str(x).isdigit()]
    n2 = [x for x in final_p2['ID_x'].values[i] if str(x).isdigit()]

    id1.append(str(''.join(n1)))
    id2.append(str(''.join(n2)))

In [477]:
p2_df = pd.DataFrame(id2, id1, columns=['ID2']).reset_index().rename(columns={'index' : 'ID1'})
p2_df

        ID1     ID2
0    119018  118975
1    119019  118975
2    486320  486319
3    486321  486319
4    486322  486319
..      ...     ...
110  381541  381540
111  381542  381540
112  381543  381540
113  381544  381540
114  381545  381540

[115 rows x 2 columns]

In [478]:
import json

for i in range(len(p2_df)) :
    j1=pd.read_json(f'C:/Users/knuyh/Desktop/민지/고려대학교 교육/프로젝트/personal/MinjiKim/categoryid link/{p2_df.iloc[i][0]}.json')
    j2=pd.read_json(f'C:/Users/knuyh/Desktop/민지/고려대학교 교육/프로젝트/personal/MinjiKim/categoryid link/{p2_df.iloc[i][1]}.json')

    merged_data = pd.concat([j1, j2], ignore_index=True).drop_duplicates()
    
    merged_data.to_json(f'{p2_df.iloc[i][1]}.json', orient='records')

In [479]:
id1 = []
id2 = []
id3 = []

for i in range(len(final_p3)) :
    n1 = [x for x in final_p3['Cu_category ID'].values[i] if str(x).isdigit()]
    n2 = [x for x in final_p3['ID_x'].values[i] if str(x).isdigit()]
    n3 = [x for x in final_p3['ID_y'].values[i] if str(x).isdigit()]

    id1.append(str(''.join(n1)))
    id2.append(str(''.join(n2)))
    id3.append(str(''.join(n3)))

In [480]:
p3_df = pd.DataFrame(id2, id1, columns=['ID2']).reset_index().rename(columns={'index' : 'ID1'})
p3_df['ID3'] = id3
p3_df

       ID1     ID2     ID3
0   119254  118920  119247
1   119255  118920  119247
2   119256  118920  119247
3   119261  118920  119252
4   119262  118920  119252
..     ...     ...     ...
76  373670  373649  373652
77  373671  373649  373653
78  373672  373649  373653
79  373674  373649  373654
80  373676  373649  373654

[81 rows x 3 columns]

In [481]:
import json

for i in range(len(p3_df)) :
    j1=pd.read_json(f'C:/Users/knuyh/Desktop/민지/고려대학교 교육/프로젝트/personal/MinjiKim/categoryid link/{p3_df.iloc[i][0]}.json')
    j2=pd.read_json(f'C:/Users/knuyh/Desktop/민지/고려대학교 교육/프로젝트/personal/MinjiKim/categoryid link/{p3_df.iloc[i][1]}.json')
    j3=pd.read_json(f'C:/Users/knuyh/Desktop/민지/고려대학교 교육/프로젝트/personal/MinjiKim/categoryid link/{p3_df.iloc[i][2]}.json')


    merged_data = pd.concat([j1, j2, j3], ignore_index=True).drop_duplicates()
    
    merged_data.to_json(f'{p3_df.iloc[i][1]}.json', orient='records')