In [46]:
import pandas as pd
df = pd.read_excel(r'C:\Users\knuyh\Desktop\민지\고려대학교 교육\프로젝트\personal\MinjiKim\카테고리정리중.xlsx')

In [47]:
df.drop('Nu_category ID', axis=1, inplace=True)

In [48]:
df

,Cu_category ID,Subcategories,1th,2th,3th
0,/np/categories/445725,['강아지 사료'],NaN,NaN,NaN
1,/np/categories/118900,['강아지 간식'],NaN,NaN,NaN
2,/np/categories/486318,['강아지 영양제'],NaN,NaN,NaN
3,/np/categories/118876,['강아지 용품'],NaN,NaN,NaN
4,/np/categories/445859,['고양이 사료'],NaN,NaN,NaN
...,...,...,...,...,...
461,/np/categories/385071,['연고'],['고양이 용품'],['건강 관리'],['피부 관리']
462,/np/categories/385072,['넥카라'],['고양이 용품'],['건강 관리'],['피부 관리']
463,/np/categories/385073,['기타 피부관리'],['고양이 용품'],['건강 관리'],['피부 관리']
464,/np/categories/119616,['해충 예방'],['고양이 용품'],['건강 관리'],"['해충 예방', '관리']"
465,/np/categories/119618,['해충 제거'],['고양이 용품'],['건강 관리'],"['해충 예방', '관리']"

In [49]:
df1 = df[9:]
df_p = df1[df1['1th'].str.contains('강아지') | df1['1th'].str.contains('펫티켓')]
df_p = df_p.reset_index()
df_p = df_p.drop('index', axis=1)
df_p

,Cu_category ID,Subcategories,1th,2th,3th
0,/np/categories/445726,['건식사료'],['강아지 사료'],NaN,NaN
1,/np/categories/445727,['소프트사료'],['강아지 사료'],NaN,NaN
2,/np/categories/445728,['습식사료'],['강아지 사료'],NaN,NaN
3,/np/categories/445729,"['건조', '생식사료']",['강아지 사료'],NaN,NaN
4,/np/categories/445730,['화식사료'],['강아지 사료'],NaN,NaN
...,...,...,...,...,...
230,/np/categories/373670,['기타 피부관리'],['강아지 용품'],['건강 관리'],['피부관리']
231,/np/categories/373671,['눈물지우개'],['강아지 용품'],['건강 관리'],['눈 관리']
232,/np/categories/373672,['눈세정제'],['강아지 용품'],['건강 관리'],['눈 관리']
233,/np/categories/373674,['해충 예방'],['강아지 용품'],['건강 관리'],"['해충 예방', '관리']"
234,/np/categories/373676,['해충 제거'],['강아지 용품'],['건강 관리'],"['해충 예방', '관리']"

In [50]:
df1 = df[9:]
df_c = df1[df1['1th'].str.contains('고양이')]
df_c = df_c.reset_index()
df_c = df_c.drop('index', axis=1)
df_c

,Cu_category ID,Subcategories,1th,2th,3th
0,/np/categories/445860,['건식사료'],['고양이 사료'],NaN,NaN
1,/np/categories/445861,"['습식', '소프트사료']",['고양이 사료'],NaN,NaN
2,/np/categories/445862,['건조생식사료'],['고양이 사료'],NaN,NaN
3,/np/categories/445863,['화식사료'],['고양이 사료'],NaN,NaN
4,/np/categories/446151,['분유'],['고양이 사료'],NaN,NaN
...,...,...,...,...,...
217,/np/categories/385071,['연고'],['고양이 용품'],['건강 관리'],['피부 관리']
218,/np/categories/385072,['넥카라'],['고양이 용품'],['건강 관리'],['피부 관리']
219,/np/categories/385073,['기타 피부관리'],['고양이 용품'],['건강 관리'],['피부 관리']
220,/np/categories/119616,['해충 예방'],['고양이 용품'],['건강 관리'],"['해충 예방', '관리']"
221,/np/categories/119618,['해충 제거'],['고양이 용품'],['건강 관리'],"['해충 예방', '관리']"

In [51]:
a = []
for i in df_c.dropna(subset=['3th'])['3th'].unique() :
    a.append(df_c[df_c['Subcategories'] == i])
    
print(a)

[           Cu_category ID Subcategories         1th              2th  3th
41  /np/categories/119900      ['스크래쳐']  ['고양이 용품']  ['캣타워', '스크래쳐']  NaN,            Cu_category ID Subcategories         1th            2th  3th
44  /np/categories/119834       ['하우스']  ['고양이 용품']  ['하우스', '방석']  NaN,            Cu_category ID Subcategories         1th            2th  3th
51  /np/categories/119839        ['매트']  ['고양이 용품']  ['하우스', '방석']  NaN,            Cu_category ID   Subcategories         1th            2th  3th
52  /np/categories/385055  ['수납', '보관용품']  ['고양이 용품']  ['하우스', '방석']  NaN,            Cu_category ID  Subcategories         1th            2th  3th
53  /np/categories/419395  ['울타리', '철장']  ['고양이 용품']  ['하우스', '방석']  NaN,            Cu_category ID Subcategories         1th             2th  3th
55  /np/categories/385060        ['식기']  ['고양이 용품']  ['급식기', '급수기']  NaN,            Cu_category ID    Subcategories         1th             2th  3th
59  /np/categories/119651  ['보관통', '사료스푼']  ['고양이 용품']  ['급식기', '급수기']  NaN,            Cu_category ID  Subcategories         1th             2th  3th
60  /np/categories/119652  ['정수기', '필터']  ['고양이 용품']  ['급식기', '급수기']  NaN,            Cu_category ID      Subcategories         1th           2th  3th
73  /np/categories/157068  ['패션 액세서리', '기타']  ['고양이 용품']  ['의류', '패션']  NaN,            Cu_category ID Subcategories         1th            2th  3th
74  /np/categories/119570        ['모래']  ['고양이 용품']  ['모래', '화장실']  NaN,            Cu_category ID Subcategories         1th            2th  3th
75  /np/categories/119571       ['화장실']  ['고양이 용품']  ['모래', '화장실']  NaN,            Cu_category ID Subcategories         1th           2th  3th
83  /np/categories/385077  ['샴푸', '린스']  ['고양이 용품']  ['미용', '목욕']  NaN,            Cu_category ID Subcategories         1th           2th  3th
89  /np/categories/385090      ['샤워용품']  ['고양이 용품']  ['미용', '목욕']  NaN,            Cu_category ID       Subcategories         1th           2th  3th
90  /np/categories/385081  ['향수', '캔들', '탈취']  ['고양이 용품']  ['미용', '목욕']  NaN,             Cu_category ID Subcategories         1th           2th      3th
91   /np/categories/385097       ['이발기']  ['고양이 용품']  ['미용', '목욕']      NaN
184  /np/categories/385098       ['이발기']  ['고양이 용품']  ['미용', '목욕']  ['이발기'],             Cu_category ID   Subcategories         1th              2th  3th
107  /np/categories/119855  ['이동장', '캐리어']  ['고양이 용품']  ['이동장', '외출용품']  NaN,             Cu_category ID Subcategories         1th              2th  3th
114  /np/categories/419400  ['줄', '하네스']  ['고양이 용품']  ['이동장', '외출용품']  NaN,             Cu_category ID Subcategories          1th        2th  3th
17   /np/categories/486332       ['영양제']  ['고양이 영양제']        NaN  NaN
116  /np/categories/486389       ['영양제']   ['고양이 용품']  ['건강 관리']  NaN,             Cu_category ID Subcategories         1th        2th  3th
117  /np/categories/119592     ['구강 관리']  ['고양이 용품']  ['건강 관리']  NaN,             Cu_category ID Subcategories         1th        2th  3th
118  /np/categories/119593      ['눈 관리']  ['고양이 용품']  ['건강 관리']  NaN,             Cu_category ID Subcategories         1th        2th  3th
119  /np/categories/119594      ['귀 관리']  ['고양이 용품']  ['건강 관리']  NaN,             Cu_category ID Subcategories         1th        2th  3th
120  /np/categories/119595     ['피부 관리']  ['고양이 용품']  ['건강 관리']  NaN,             Cu_category ID    Subcategories         1th        2th  3th
121  /np/categories/119596  ['해충 예방', '관리']  ['고양이 용품']  ['건강 관리']  NaN]

In [52]:
# 3th = Subcategories
name3 = []
result3 = []
for i in range(len(a)) :
    numeric_values = [x for x in a[i]['Cu_category ID'].values[0] if str(x).isdigit()]
    result3.append(str(''.join(numeric_values)))
    name3.append(a[i]['Subcategories'].values[0])
result3 # category id
name3 # Subcategories

["['스크래쳐']",
 "['하우스']",
 "['매트']",
 "['수납', '보관용품']",
 "['울타리', '철장']",
 "['식기']",
 "['보관통', '사료스푼']",
 "['정수기', '필터']",
 "['패션 액세서리', '기타']",
 "['모래']",
 "['화장실']",
 "['샴푸', '린스']",
 "['샤워용품']",
 "['향수', '캔들', '탈취']",
 "['이발기']",
 "['이동장', '캐리어']",
 "['줄', '하네스']",
 "['영양제']",
 "['구강 관리']",
 "['눈 관리']",
 "['귀 관리']",
 "['피부 관리']",
 "['해충 예방', '관리']"]

In [53]:
three = pd.DataFrame(name3, result3, columns=['3th']).reset_index().rename(columns={'index' : 'ID'})
three

        ID                 3th
0   119900            ['스크래쳐']
1   119834             ['하우스']
2   119839              ['매트']
3   385055      ['수납', '보관용품']
4   419395       ['울타리', '철장']
5   385060              ['식기']
6   119651     ['보관통', '사료스푼']
7   119652       ['정수기', '필터']
8   157068   ['패션 액세서리', '기타']
9   119570              ['모래']
10  119571             ['화장실']
11  385077        ['샴푸', '린스']
12  385090            ['샤워용품']
13  385081  ['향수', '캔들', '탈취']
14  385097             ['이발기']
15  119855      ['이동장', '캐리어']
16  419400        ['줄', '하네스']
17  486332             ['영양제']
18  119592           ['구강 관리']
19  119593            ['눈 관리']
20  119594            ['귀 관리']
21  119595           ['피부 관리']
22  119596     ['해충 예방', '관리']

In [54]:
df_c.dropna(subset=['3th'])

,Cu_category ID,Subcategories,1th,2th,3th
124,/np/categories/119903,['평판형'],['고양이 용품'],"['캣타워', '스크래쳐']",['스크래쳐']
125,/np/categories/119904,['하우스형'],['고양이 용품'],"['캣타워', '스크래쳐']",['스크래쳐']
126,/np/categories/119905,['기둥형'],['고양이 용품'],"['캣타워', '스크래쳐']",['스크래쳐']
127,/np/categories/385029,['리필형'],['고양이 용품'],"['캣타워', '스크래쳐']",['스크래쳐']
128,/np/categories/119906,['면줄'],['고양이 용품'],"['캣타워', '스크래쳐']",['스크래쳐']
...,...,...,...,...,...
217,/np/categories/385071,['연고'],['고양이 용품'],['건강 관리'],['피부 관리']
218,/np/categories/385072,['넥카라'],['고양이 용품'],['건강 관리'],['피부 관리']
219,/np/categories/385073,['기타 피부관리'],['고양이 용품'],['건강 관리'],['피부 관리']
220,/np/categories/119616,['해충 예방'],['고양이 용품'],['건강 관리'],"['해충 예방', '관리']"
221,/np/categories/119618,['해충 제거'],['고양이 용품'],['건강 관리'],"['해충 예방', '관리']"

In [55]:
three['3th'].values

array(["['스크래쳐']", "['하우스']", "['매트']", "['수납', '보관용품']", "['울타리', '철장']",
       "['식기']", "['보관통', '사료스푼']", "['정수기', '필터']", "['패션 액세서리', '기타']",
       "['모래']", "['화장실']", "['샴푸', '린스']", "['샤워용품']",
       "['향수', '캔들', '탈취']", "['이발기']", "['이동장', '캐리어']", "['줄', '하네스']",
       "['영양제']", "['구강 관리']", "['눈 관리']", "['귀 관리']", "['피부 관리']",
       "['해충 예방', '관리']"], dtype=object)

In [56]:
final3 = pd.merge(df_c.dropna(subset=['3th']), three, on=['3th'], how='left')
final3

,Cu_category ID,Subcategories,1th,2th,3th,ID
0,/np/categories/119903,['평판형'],['고양이 용품'],"['캣타워', '스크래쳐']",['스크래쳐'],119900
1,/np/categories/119904,['하우스형'],['고양이 용품'],"['캣타워', '스크래쳐']",['스크래쳐'],119900
2,/np/categories/119905,['기둥형'],['고양이 용품'],"['캣타워', '스크래쳐']",['스크래쳐'],119900
3,/np/categories/385029,['리필형'],['고양이 용품'],"['캣타워', '스크래쳐']",['스크래쳐'],119900
4,/np/categories/119906,['면줄'],['고양이 용품'],"['캣타워', '스크래쳐']",['스크래쳐'],119900
...,...,...,...,...,...,...
93,/np/categories/385071,['연고'],['고양이 용품'],['건강 관리'],['피부 관리'],119595
94,/np/categories/385072,['넥카라'],['고양이 용품'],['건강 관리'],['피부 관리'],119595
95,/np/categories/385073,['기타 피부관리'],['고양이 용품'],['건강 관리'],['피부 관리'],119595
96,/np/categories/119616,['해충 예방'],['고양이 용품'],['건강 관리'],"['해충 예방', '관리']",119596
97,/np/categories/119618,['해충 제거'],['고양이 용품'],['건강 관리'],"['해충 예방', '관리']",119596

In [57]:
b = []
for i in df_c.dropna(subset=['2th'])['2th'].unique() :
    b.append(df_c[df_c['Subcategories'] == i])
    
print(b)

[            Cu_category ID Subcategories          1th        2th  3th
17   /np/categories/486332       ['영양제']  ['고양이 영양제']        NaN  NaN
116  /np/categories/486389       ['영양제']   ['고양이 용품']  ['건강 관리']  NaN,            Cu_category ID Subcategories          1th  2th  3th
18  /np/categories/486342     ['건강보조제']  ['고양이 영양제']  NaN  NaN,            Cu_category ID    Subcategories         1th  2th  3th
19  /np/categories/119567  ['캣타워', '스크래쳐']  ['고양이 용품']  NaN  NaN,            Cu_category ID  Subcategories         1th  2th  3th
20  /np/categories/119562  ['하우스', '방석']  ['고양이 용품']  NaN  NaN,            Cu_category ID   Subcategories         1th  2th  3th
21  /np/categories/119561  ['급식기', '급수기']  ['고양이 용품']  NaN  NaN,            Cu_category ID Subcategories         1th  2th  3th
22  /np/categories/157054  ['의류', '패션']  ['고양이 용품']  NaN  NaN,            Cu_category ID  Subcategories         1th  2th  3th
23  /np/categories/119558  ['모래', '화장실']  ['고양이 용품']  NaN  NaN,            Cu_category ID Subcategories         1th  2th  3th
24  /np/categories/385076  ['미용', '목욕']  ['고양이 용품']  NaN  NaN,            Cu_category ID Subcategories         1th  2th  3th
25  /np/categories/119568       ['장난감']  ['고양이 용품']  NaN  NaN,            Cu_category ID   Subcategories         1th  2th  3th
26  /np/categories/486545  ['펫캠', '가전용품']  ['고양이 용품']  NaN  NaN,            Cu_category ID    Subcategories         1th  2th  3th
27  /np/categories/119564  ['이동장', '외출용품']  ['고양이 용품']  NaN  NaN,            Cu_category ID Subcategories         1th  2th  3th
28  /np/categories/119559     ['건강 관리']  ['고양이 용품']  NaN  NaN]

In [58]:
# 2th = Subcategories
name2 = []
result2 = []
for i in range(len(b)) :
    numeric_values = [x for x in b[i]['Cu_category ID'].values[0] if str(x).isdigit()]
    result2.append(str(''.join(numeric_values)))
    name2.append(b[i]['Subcategories'].values[0])
result2 # category id
name2 # Subcategories

["['영양제']",
 "['건강보조제']",
 "['캣타워', '스크래쳐']",
 "['하우스', '방석']",
 "['급식기', '급수기']",
 "['의류', '패션']",
 "['모래', '화장실']",
 "['미용', '목욕']",
 "['장난감']",
 "['펫캠', '가전용품']",
 "['이동장', '외출용품']",
 "['건강 관리']"]

In [59]:
two = pd.DataFrame(name2, result2, columns=['2th']).reset_index().rename(columns={'index' : 'ID'})
two

        ID              2th
0   486332          ['영양제']
1   486342        ['건강보조제']
2   119567  ['캣타워', '스크래쳐']
3   119562    ['하우스', '방석']
4   119561   ['급식기', '급수기']
5   157054     ['의류', '패션']
6   119558    ['모래', '화장실']
7   385076     ['미용', '목욕']
8   119568          ['장난감']
9   486545   ['펫캠', '가전용품']
10  119564  ['이동장', '외출용품']
11  119559        ['건강 관리']

In [60]:
df_c.dropna(subset=['2th'])

,Cu_category ID,Subcategories,1th,2th,3th
30,/np/categories/486333,['종합영양제'],['고양이 영양제'],['영양제'],NaN
31,/np/categories/486334,['헤어볼 영양제'],['고양이 영양제'],['영양제'],NaN
32,/np/categories/486335,"['칼슘', '관절영양제']",['고양이 영양제'],['영양제'],NaN
33,/np/categories/486336,"['피부', '모발영양제']",['고양이 영양제'],['영양제'],NaN
34,/np/categories/486337,"['소화', '장 영양제']",['고양이 영양제'],['영양제'],NaN
...,...,...,...,...,...
217,/np/categories/385071,['연고'],['고양이 용품'],['건강 관리'],['피부 관리']
218,/np/categories/385072,['넥카라'],['고양이 용품'],['건강 관리'],['피부 관리']
219,/np/categories/385073,['기타 피부관리'],['고양이 용품'],['건강 관리'],['피부 관리']
220,/np/categories/119616,['해충 예방'],['고양이 용품'],['건강 관리'],"['해충 예방', '관리']"
221,/np/categories/119618,['해충 제거'],['고양이 용품'],['건강 관리'],"['해충 예방', '관리']"

In [61]:
final2 = pd.merge(df_c.dropna(subset=['2th']), two, on=['2th'], how='left')
final2

,Cu_category ID,Subcategories,1th,2th,3th,ID
0,/np/categories/486333,['종합영양제'],['고양이 영양제'],['영양제'],NaN,486332
1,/np/categories/486334,['헤어볼 영양제'],['고양이 영양제'],['영양제'],NaN,486332
2,/np/categories/486335,"['칼슘', '관절영양제']",['고양이 영양제'],['영양제'],NaN,486332
3,/np/categories/486336,"['피부', '모발영양제']",['고양이 영양제'],['영양제'],NaN,486332
4,/np/categories/486337,"['소화', '장 영양제']",['고양이 영양제'],['영양제'],NaN,486332
...,...,...,...,...,...,...
187,/np/categories/385071,['연고'],['고양이 용품'],['건강 관리'],['피부 관리'],119559
188,/np/categories/385072,['넥카라'],['고양이 용품'],['건강 관리'],['피부 관리'],119559
189,/np/categories/385073,['기타 피부관리'],['고양이 용품'],['건강 관리'],['피부 관리'],119559
190,/np/categories/119616,['해충 예방'],['고양이 용품'],['건강 관리'],"['해충 예방', '관리']",119559
191,/np/categories/119618,['해충 제거'],['고양이 용품'],['건강 관리'],"['해충 예방', '관리']",119559

In [62]:
final23 = pd.merge(final2, final3, on=['Cu_category ID'], how='outer')
final23
# ID_x : result2 ; 1th까지 있음 / ID_y : result3 ; 2th까지 있음

,Cu_category ID,Subcategories_x,1th_x,2th_x,3th_x,ID_x,Subcategories_y,1th_y,2th_y,3th_y,ID_y
0,/np/categories/486333,['종합영양제'],['고양이 영양제'],['영양제'],NaN,486332,NaN,NaN,NaN,NaN,NaN
1,/np/categories/486334,['헤어볼 영양제'],['고양이 영양제'],['영양제'],NaN,486332,NaN,NaN,NaN,NaN,NaN
2,/np/categories/486335,"['칼슘', '관절영양제']",['고양이 영양제'],['영양제'],NaN,486332,NaN,NaN,NaN,NaN,NaN
3,/np/categories/486336,"['피부', '모발영양제']",['고양이 영양제'],['영양제'],NaN,486332,NaN,NaN,NaN,NaN,NaN
4,/np/categories/486337,"['소화', '장 영양제']",['고양이 영양제'],['영양제'],NaN,486332,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
187,/np/categories/385071,['연고'],['고양이 용품'],['건강 관리'],['피부 관리'],119559,['연고'],['고양이 용품'],['건강 관리'],['피부 관리'],119595
188,/np/categories/385072,['넥카라'],['고양이 용품'],['건강 관리'],['피부 관리'],119559,['넥카라'],['고양이 용품'],['건강 관리'],['피부 관리'],119595
189,/np/categories/385073,['기타 피부관리'],['고양이 용품'],['건강 관리'],['피부 관리'],119559,['기타 피부관리'],['고양이 용품'],['건강 관리'],['피부 관리'],119595
190,/np/categories/119616,['해충 예방'],['고양이 용품'],['건강 관리'],"['해충 예방', '관리']",119559,['해충 예방'],['고양이 용품'],['건강 관리'],"['해충 예방', '관리']",119596
191,/np/categories/119618,['해충 제거'],['고양이 용품'],['건강 관리'],"['해충 예방', '관리']",119559,['해충 제거'],['고양이 용품'],['건강 관리'],"['해충 예방', '관리']",119596

In [63]:
final_c = pd.merge(df_c, final23, on=['Cu_category ID'], how='outer')
final_c

,Cu_category ID,Subcategories,1th,2th,3th,Subcategories_x,1th_x,2th_x,3th_x,ID_x,Subcategories_y,1th_y,2th_y,3th_y,ID_y
0,/np/categories/445860,['건식사료'],['고양이 사료'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,/np/categories/445861,"['습식', '소프트사료']",['고양이 사료'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,/np/categories/445862,['건조생식사료'],['고양이 사료'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,/np/categories/445863,['화식사료'],['고양이 사료'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,/np/categories/446151,['분유'],['고양이 사료'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217,/np/categories/385071,['연고'],['고양이 용품'],['건강 관리'],['피부 관리'],['연고'],['고양이 용품'],['건강 관리'],['피부 관리'],119559,['연고'],['고양이 용품'],['건강 관리'],['피부 관리'],119595
218,/np/categories/385072,['넥카라'],['고양이 용품'],['건강 관리'],['피부 관리'],['넥카라'],['고양이 용품'],['건강 관리'],['피부 관리'],119559,['넥카라'],['고양이 용품'],['건강 관리'],['피부 관리'],119595
219,/np/categories/385073,['기타 피부관리'],['고양이 용품'],['건강 관리'],['피부 관리'],['기타 피부관리'],['고양이 용품'],['건강 관리'],['피부 관리'],119559,['기타 피부관리'],['고양이 용품'],['건강 관리'],['피부 관리'],119595
220,/np/categories/119616,['해충 예방'],['고양이 용품'],['건강 관리'],"['해충 예방', '관리']",['해충 예방'],['고양이 용품'],['건강 관리'],"['해충 예방', '관리']",119559,['해충 예방'],['고양이 용품'],['건강 관리'],"['해충 예방', '관리']",119596
221,/np/categories/119618,['해충 제거'],['고양이 용품'],['건강 관리'],"['해충 예방', '관리']",['해충 제거'],['고양이 용품'],['건강 관리'],"['해충 예방', '관리']",119559,['해충 제거'],['고양이 용품'],['건강 관리'],"['해충 예방', '관리']",119596

In [64]:
final_c.isnull().sum()

Cu_category ID       0
Subcategories        0
1th                  0
2th                 30
3th                124
Subcategories_x     30
1th_x               30
2th_x               30
3th_x              124
ID_x                30
Subcategories_y    124
1th_y              124
2th_y              124
3th_y              124
ID_y               124
dtype: int64

In [65]:
final_c1 = final_c[:30] # 이 카테고리는 그대로 가져옴

In [66]:
# 1th까지 있음 ; 합쳐 ID_x 이름으로 json 만들어
final_c2 = final_c[30:124]

In [67]:
# 3개의 ID 합쳐 ID_x의 이름으로 json 만들기
final_c3 = final_c.dropna(subset=['ID_y'])

In [68]:
import os
os.chdir(r'C:\Users\knuyh\Desktop\민지\고려대학교 교육\프로젝트\personal\MinjiKim\merged')

In [69]:
id1 = []
for i in range(len(final_c1)) :
    n1 = [x for x in final_c1['Cu_category ID'].values[i] if str(x).isdigit()]
    
    id1.append(str(''.join(n1)))

In [70]:
c1_df = pd.DataFrame(id1, columns=['ID1'])
c1_df

       ID1
0   445860
1   445861
2   445862
3   445863
4   446151
5   509026
6   119522
7   119499
8   120216
9   119501
10  119502
11  119503
12  119504
13  119505
14  119506
15  120217
16  445864
17  486332
18  486342
19  119567
20  119562
21  119561
22  157054
23  119558
24  385076
25  119568
26  486545
27  119564
28  119559
29  225107

In [71]:
import json

for i in range(len(c1_df)) :
    j1=pd.read_json(f'C:/Users/knuyh/Desktop/민지/고려대학교 교육/프로젝트/personal/MinjiKim/categoryid link/{c1_df.iloc[i][0]}.json')
    
    j1.to_json(f'{c1_df.iloc[i][0]}.json', orient='records')

In [72]:
id1 = []
id2 = []

for i in range(len(final_c2)) :
    n1 = [x for x in final_c2['Cu_category ID'].values[i] if str(x).isdigit()]
    n2 = [x for x in final_c2['ID_x'].values[i] if str(x).isdigit()]

    id1.append(str(''.join(n1)))
    id2.append(str(''.join(n2)))

In [73]:
c2_df = pd.DataFrame(id2, id1, columns=['ID2']).reset_index().rename(columns={'index' : 'ID1'})
c2_df

       ID1     ID2
0   486333  486332
1   486334  486332
2   486335  486332
3   486336  486332
4   486337  486332
..     ...     ...
89  119594  119559
90  119595  119559
91  119596  119559
92  120399  119559
93  385074  119559

[94 rows x 2 columns]

In [74]:
import json

for i in range(len(c2_df)) :
    j1=pd.read_json(f'C:/Users/knuyh/Desktop/민지/고려대학교 교육/프로젝트/personal/MinjiKim/categoryid link/{c2_df.iloc[i][0]}.json')
    j2=pd.read_json(f'C:/Users/knuyh/Desktop/민지/고려대학교 교육/프로젝트/personal/MinjiKim/categoryid link/{c2_df.iloc[i][1]}.json')

    merged_data = pd.concat([j1, j2], ignore_index=True).drop_duplicates()
    
    merged_data.to_json(f'{c2_df.iloc[i][1]}.json', orient='records')

In [75]:
id1 = []
id2 = []
id3 = []

for i in range(len(final_c3)) :
    n1 = [x for x in final_c3['Cu_category ID'].values[i] if str(x).isdigit()]
    n2 = [x for x in final_c3['ID_x'].values[i] if str(x).isdigit()]
    n3 = [x for x in final_c3['ID_y'].values[i] if str(x).isdigit()]

    id1.append(str(''.join(n1)))
    id2.append(str(''.join(n2)))
    id3.append(str(''.join(n3)))

In [76]:
c3_df = pd.DataFrame(id2, id1, columns=['ID2']).reset_index().rename(columns={'index' : 'ID1'})
c3_df['ID3'] = id3
c3_df

       ID1     ID2     ID3
0   119903  119567  119900
1   119904  119567  119900
2   119905  119567  119900
3   385029  119567  119900
4   119906  119567  119900
..     ...     ...     ...
93  385071  119559  119595
94  385072  119559  119595
95  385073  119559  119595
96  119616  119559  119596
97  119618  119559  119596

[98 rows x 3 columns]

In [77]:
import json

for i in range(len(c3_df)) :
    j1=pd.read_json(f'C:/Users/knuyh/Desktop/민지/고려대학교 교육/프로젝트/personal/MinjiKim/categoryid link/{c3_df.iloc[i][0]}.json')
    j2=pd.read_json(f'C:/Users/knuyh/Desktop/민지/고려대학교 교육/프로젝트/personal/MinjiKim/categoryid link/{c3_df.iloc[i][1]}.json')
    j3=pd.read_json(f'C:/Users/knuyh/Desktop/민지/고려대학교 교육/프로젝트/personal/MinjiKim/categoryid link/{c3_df.iloc[i][2]}.json')


    merged_data = pd.concat([j1, j2, j3], ignore_index=True).drop_duplicates()
    
    merged_data.to_json(f'{c3_df.iloc[i][1]}.json', orient='records')